/* Global */
* {
    font-family: 'Courier New', Courier, monospace;
  }
  
  :root {
    --primary-color: #f13fc5;
    --secondary-color: rgb(122, 211, 114);
    --thrid-color: rgb(88, 72, 109);
    --borderMain: 6px solid var(--primary-color);
    --borderSecondary: var(--secondary-color);
    --borderRadius: 15px;
    --awesomeRadius: 0px var(--borderRadius) 0px var(--borderRadius);
    --transition: all 260ms ease-in-out; 
  }
}
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  header {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  nav {
    padding: 30px 15px 15px 15px;
  }
  
  nav a {
    font-size: 22px;
    margin: 0 20px;
    color: black;
    font-weight: bold;
  }
  
  main {
    display: flex;
    justify-content: center;
    padding: 60px 15px;
  }
  
  #logo-container {
    display: inline-block;
    padding-top: 10px;
    background: var(--primary-color);
    position: relative;
    top: 20px;
    padding: 10px;
  }
  
  #logo-container h2 {
    margin-bottom: 0;
  }
  
  .bg-dark {
    background: black;
    color: var(--primary-color);
  }
  
  .bg-dark a {
    color: var(--primary-color);
  }
  
  #hero {
    background: black;
    background-image: url("../images/background.png");
    color: white;
    text-align: center;
    padding: 60px 15px;
    font-size: 42px;
  }
  
  .btn {
    cursor: pointer;
    padding: 5px 10px;
    color: black;
    background: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    transition: var(--transition);
  }
  .callout {
      border: 6px solid var(--primary-color);
      text-align: center;
      margin: 0 30px;
      padding: 30px 15px;
      flex: 1 0 400px;
      margin-bottom: 25px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .gallery-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border: var(--borderMain);
    background: black;
    color: white;
    border-radius: var(--awesomeRadius);
    margin: 5px;
    width: 240px;
    height: 240px;
    font-weight: bold;
    position: relative;
    transition: var(--transition);
}

.on-sale {
  background: var(--secondary-color);
  color: black;
  position: absolute;
  top: 10px;
  left: 0;
}

/* Media Queries */
@media (max-width: 767px) {
  header {
    flex-direction: column;
  }

  nav {
    background-color: black;
    color: var(--primary-color);
  }

  nav a {
    background-color: black;
  }
}